* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    max-width: 30rem;
    margin-bottom: 25px;
    border-radius: 25px;
    justify-content: center;
}

a img {
    width: 3rem;
    height: 3rem;
}

#pokeChoose {
    width: 12rem;
}

#botons {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.sprite {
    max-width: 10rem;
    max-height: 10rem;
    padding-left: 10px;
    padding-right: 10px;
}

.types {
    display: flex;
    padding: 20px;
}

th {
    text-align: left;
}

td {
    text-align: right;
}




